.input-buscar {
    width: 400px !important;
}

.container-form {
    max-width: 600px; 
    margin: 0 auto; 
}

.alerta-flotante {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    width: 15%;
}