.input-buscar {
    width: 400px !important;
}

.container-form {
    max-width: 600px; 
    margin: 0 auto; 
}

.alerta-flotante {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    width: 15%;
}

.card-custom {
    background-color: #f8f9fa;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 20px;
    width: 100%;
}

.card-carts {
    border: 3px solid #0B6183;
    border-radius: 10px;
}