.container-form {
    max-width: 600px; 
    margin: 0 auto; 
}

.alerta-flotante {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    width: 15%;
}

.card-custom {
    background-color: #f8f9fa;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 20px;
    width: 100%;
}

.card-carts {
    border: 3px solid #0B6183;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .alerta-flotante {
        width: 90%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .alerta-flotante {
        width: 75%;
    }
}

@media screen and (min-width: 1000px){
    .grid-container {
        grid-template-columns: repeat(6, 1fr);
        margin-left: 115px;
    }
    .form-container {
        margin-left: 115px;
    }
    .alerta-flotante {
        width: 50%;
    }
}
