<body>
    <div class="img-container">
        <img src="../../../assets/BANNER.png" alt="encabezado de la pagina principal" class="banner">
    </div>
    
    
    <div class="container">
    
        <app-noticia></app-noticia>
    
        <hr>

        <h3 class="text-center">¿Qué quieres hacer hoy?</h3>
    
        <div class="d-flex justify-content-center align-items-center m-5">
            <button class="btn btn-lg btn-primary1 me-3" (click)="btnTienda()"><i class="bi bi-shop"></i><br> TIENDA DE CARTAS</button>
            <button class="btn btn-lg btn-primary1 me-3" (click)="btnPlanificador()"><i class="bi bi-boxes"></i><br> PLANIFICADOR DE MAZOS</button>
            <button class="btn btn-lg btn-primary1" (click)="btnRecomendador()"><i class="bi bi-lightbulb"></i> <br>RECOMENDADOR DE MAZOS</button>
        </div>
    </div>
    
</body>


