<div class="">
    <img src="../../../assets/voyager-title-magic-gathering.jpg" alt="encabezado de la pagina principal" class="img-fluid pl-5">
</div>


<div class="container">
    <h1 class="text-center m-5">Planeswalker Central</h1>

    <app-noticia></app-noticia>

    <hr>

    <div class="d-flex justify-content-center align-items-center m-5">
        <button class="btn btn-lg btn-primary me-3" (click)="btnTienda()"><i class="bi bi-shop"></i> TIENDA</button>
        <button class="btn btn-lg btn-primary" (click)="btnPlanificador()">PLANIFICADOR DE MAZOS</button>
    </div>
</div>

