.main-component {
    margin-left: 280px;
}

.img-container {
    margin-top: 10px;
    margin-left: 115px;
    margin-right: 5px;
}

.banner {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 0.9;
    border-radius: 10px;
}

